body {
    background: #e9e9e9;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.pen-title {
    padding: 30px 0 0 0;
    text-align: center;
    letter-spacing: 2px;
}

.pen-title h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300;
}

.form-module {
    position: relative;
    background: #fff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #fd6f6f;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    margin: 0 auto;

}

.form-module .toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #fd6f6f;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}


.form-module .toggle .tooltip {
    position: absolute;
    top: 5px;
    right: -65px;
    display: block;
    background: rgba(0, 0, 0, .6);
    width: auto;
    padding: 5px;
    font-size: 10px;
    transition: 0.5s ease-in;
    line-height: 1;
    text-transform: uppercase;
}

.form-module .toggle:hover .tooltip {
    opacity: 1 !important;
}

.form-module .toggle .tooltip:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, .6);
}

.form-module .form {
    display: none;
    padding: 40px;
}

.form-module .form:nth-child(2) {
    display: block;
}

.form-module h2 {
    margin: 0 0 20px;
    color: #fd6f6f;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
}

.form-module input:focus {
    border: 1px solid #fd6f6f;
    color: #333;
}

.form-module button {
    cursor: pointer;
    background: #fd6f6f;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    transition: 0.3s;
}

.form-module button:hover {
    background: #e66666;
}

.form-module .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666;
    font-size: 12px;
    text-align: center;
}

.form-module .cta a {
    color: #333;
    text-decoration: none;
}